<!-- views/testView.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Example title</title>
</head>

<body id="home">
	<h1>Bus Details for your postcode</h1>
	<h2><%=topBus[0].showHeader()%></h2>
	<ol>
		<%topBus.forEach((bus) => { %>
			<li><b><%= bus.showTestData() %></b></li>
		<% });
		%>
	</ol>
	<h2><%=topBus2[0].showHeader()%></h2>
	<ol>
		<%
			topBus2.forEach((bus) => { %>
			<li><b><%= bus.showTestData() %></b></li>
		<% });
		%>
	</ol>
</body>
</html>